.search {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 100px;
    height: 90vh;
    margin-top: 20px;
    margin-left: 150px;
    width: 60%;
   
  }

.search h3{
  text-align: left;
  align-items: flex-start;
  font-weight: normal;
}
  
  .search input[type="text"] {
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 4px;
    margin-right: 0.5rem;
    /* Additional styles for dropdown */
    background-color: #fff;
    border: 1px solid #ccc;
  }
  
  .search button {
    padding: 0.5rem;
    background-color:  #990000; /* Adjust color as needed */
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search button:hover {
    background-color: #FFC72C; /* Adjust color as needed */
  }

  .search select {
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 4px;
    margin-right: 0.5rem;
    /* Additional styles for dropdown */
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }